include README.md
recursive-include octoprint_emergencystopsimplified/templates *
recursive-include octoprint_emergencystopsimplified/translations *
recursive-include octoprint_emergencystopsimplified/static *
