<h3>{{ _('Emergency Stop Simplified') }}</h3>
<form class="form-horizontal marginTop">
    <div class="control-group">
        <div class="marginBot">
            <b>Which Raspberry Pi GPIO pin your button output is attached to (-1 disables the plugin)</b>
        </div>
        <label class="control-label">{{ _('BCM pin:') }}</label>
        <div class="controls" data-toggle="tooltip">
            <input type="number" step="any" min="0" class="input-mini text-right"
                   data-bind="value: settings.plugins.emergencystopsimplified.pin">
        </div>
    </div>
    <div class="control-group">
        <div class="marginBot">
            <b>What G-Code will run on GPIO trigger?</b>
        </div>
        <label class="control-label">{{ _('G-Code:') }}</label>
        <div class="controls" data-toggle="tooltip">
            <input type="number" step="any" min="0" class="input-mini text-right"
                   data-bind="value: settings.plugins.emergencystopsimplified.gcode">
        </div>
    </div>
    <div class="control-group">
        <div class="marginBot">
            <b>Input terminal of the button (switch) needs to be connected to ground or 3.3 V</b>
        </div>
        <label class="control-label">{{ _('Button is connected to:') }}</label>
        <div class="controls" data-toggle="tooltip"
             title="{{ _('Specify how the button is connected. One end of the button must be wired to ground or 3.3 V. Button is triggered when open.') }}">
            <select class="select-mini" data-bind="value: settings.plugins.emergencystopsimplified.switch">
                <option value=0>{{ _('Ground') }}</option>
                <option value=1>{{ _('3.3V') }}</option>
            </select>
        </div>
        <div class="alert-info wy-alert-warning marginTop">
            <span class="icon-info-sign"/>
            <span class="octoFontFamily iconIndent">Button is triggered when open.</span>
        </div>
        <div class="alert-danger">
            <span class="icon-warning-sign"/>
            <span class="octoFontFamily iconIndent">Warning! Never connect the button to 5V! 5V could destroy GPIO of your Raspberry Pi.</span>
        </div>
        <div style="font-size: 11px">
            For more information click <a
                href="https://github.com/Mechazawa/Emergency_stop_simplified">here</a>
        </div>
    </div>
</form>
