<h3>{{ _('GPIO Gcode') }}</h3>
<form class="form-horizontal marginTop">
    <div class="control-group">
        <div class="marginBot">
            <b>Which Raspberry Pi GPIO pin your button or sensor output is attached to (-1 disables the plugin)?</b>
        </div>
        <label class="control-label">{{ _('BCM pin:') }}</label>
        <div class="controls" data-toggle="tooltip">
            <input type="number" step="any" min="0" class="input-mini text-right"
                   data-bind="value: settings.plugins.gpiogcode.pin">
        </div>
    </div>
    <div class="control-group">
        <div class="marginBot">
            <b>Input terminal of the button (switch) needs to be connected to ground or 3.3 V</b>
        </div>
        <label class="control-label">{{ _('Untriggered State:') }}</label>
        <div class="controls" data-toggle="tooltip"
             title="{{ _('Specify the resting state of input:') }}">
            <select class="select-mini" data-bind="value: settings.plugins.gpiogcode.switch">
                <option value=0>{{ _('Low/Off') }}</option>
                <option value=1>{{ _('High/On') }}</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="marginBot">
            <b>What G-Code will run on GPIO trigger?</b>
        </div>
        <label class="control-label">{{ _('G-Code:') }}</label>
        <div class="controls" data-toggle="tooltip">
            <input type="text" style="width: 200px;" class="input-mini text-right" 
                   data-bind="value: settings.plugins.gpiogcode.gcode">
        </div>
    </div>
        <div class="alert-info wy-alert-warning marginTop">
            <span class="icon-info-sign"/>
            <span class="octoFontFamily iconIndent">Resting state of MQ-2 sensor is high/on for DC connection.</span>
        </div>
        <div class="alert-danger">
            <span class="icon-warning-sign"/>
            <span class="octoFontFamily iconIndent">Warning! For normal switches, never connect the button to 5V! 5V could destroy GPIO of your Raspberry Pi.</span>
        </div>
        <div style="font-size: 11px">
            For more information click <a
                href="https://github.com/tridactik/GPIO_Gcode">here</a>
        </div>
    </div>
</form>
